<div class="box box-1 animated"></div>
<div class="box box-2 animated"></div>
<div class="pages">

  <!-- Page One -->
  <%= erb :_index_partial %>
  <!-- Page Two -->
  <%= erb :_information_one_partial %>
  <!-- Page Three -->
  <%= erb :_information_two_partial %>
  <!-- Page Four -->
  <%= erb :_information_three_partial %>
  <!-- Page Five -->
  <%= erb :_orientation_partial %>
  <!-- Page Six -->
  <%= erb :_roof_type_partial %>
  <!-- Page Seven -->
  <%= erb :_roof_angle_partial %>
  <!-- Page Eight -->
  <%= erb :_photo_partial %>
  <!-- Page Nine -->
  <%= erb :_material_partial %>
  <!-- Page Ten -->
  <%= erb :_shade_partial %>
  <!-- Page Eleven -->
  <%= erb :_measurement_partial %>
  <!-- Page Twelve -->
  <%= erb :_results_partial %>

</div>


