
<summary class="row">
  <div class="large-12 medium-8 small-6 small-centered medium-centered columns">
    <div id="page-wrap">
      <h1>Results</h1>
      <form action="/roofs/<%=@roof.id%>/capacity" id="user_data" method="post" name="creator">
        <div class="row">
          <div class="large-4 medium-4 small-4 column">
          </div>
          <div class="large-4 medium-6 small-12 column">
            Looking good! Just a couple more things.
          <input type="text" placeholder="Give it a title: something memorable" name="title">
          <input type="text" placeholder="Claim the glory: add your name" name="discovered_by">
          <input type="text" placeholder="email" name="email">
          </div>
        </div>
        <div class="row">
          <div class="large-12 large-centered">
            <ul>
              <li><strong>Estimated Solar Panel Capacity: <%= @roof.panel_capacity %> panels</strong></li>
              <li><strong>Estimated Output Power: <%= @roof.power_capacity %>kw</strong></li>
              <li>Material: <%= @roof.material %></li>
              <li>Shade: <%= @roof.shade_value %>%</li>
              <li>Roof Angle: <%= @roof.roof_angle %> degrees</li>
              <li><img class="summary_img" src="<%= @roof.photo_url %>" class="material_img"></li>
            </ul>
          </div>
          <input type="submit" id="save_data" class="button round button_background" value="Send me the results"/>
        </div>
      </form>
    </div>
  </div>
</summary>
