<div class="page">
  <h1 class="title">Your results</h1>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-th fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Solar panel capacity<br>
      <strong><%= @roof.panel_capacity %> panels</strong><br>
    </div>
  </div>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-lightbulb-o fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Estimated power<br>
      <strong><%= @roof.power_capacity.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %> kWp</strong><br>
    </div>
  </div>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-cubes fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Material<br>
      <strong><%= @roof.material %></strong><br>
    </div>
  </div>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-tree fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Shade<br>
      <strong><%= @roof.shade_value %>%</strong><br>
    </div>
  </div>
  
  <div class="row result">
    <div class="columns small-4">
      <i class="fa fa-expand fa-3x pull-left"></i>
    </div>
    <div class="columns small-8 text-left">
      Roof angle<br>
      <strong><%= @roof.angle %>&deg;</strong><br>
    </div>
  </div>
      
  <!--
  <img class="summary_img" src="<%= @roof.photo_url %>" class="material_img">
  -->
    
  <div class="row">
    <div class="columns">
        Looking good! Just a couple more things.
      <form action="/roofs/<%=@roof.id%>/capacity" id="user_data" method="post" name="creator">
        <input type="text" placeholder="Give it a title: something memorable" name="title">
        <input type="text" placeholder="Claim the glory: add your name" name="discovered_by">
        <input type="text" placeholder="Your email" name="email">
        <input type="submit" id="save_data" class="button expand" value="Send me the results!"/>
      </form>
    </div>
  </div>
</div>
