<summary class="container">
  <h1>Summary</h1>
  <form action="/creator" method="post" name="creator">
    <div class="row summary_header_field container-header">
        <div class="large-4 column">
          <img class="summary_img" src="/images/metal_roof.jpg" class="material_img">
        </div>
        <div class="summary-form large-6 column end">
          <input class="summary_form_input round" type="text" value="Title" name="title">
          <input class="summary_form_input round" type="text" value="Disc_by" name="disc_by">
        </div>
      </div>
      <div class="row container-table">
        <div class="large-8 large-centered column">
          <table class="summary-table">
            <thead class="summary-table">
              <tr>
                <th width="20%"><h4>Attribute</h4></th>
                <th width="20%"><h4>Result</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><h5>Material</h5></td>
                <td><h5><%= @roof.material %></h5></td>
              </tr>
              <tr>
                <td><h5>Shade Value</h5></td>
                <td><h5><%= @roof.shade_value %></h5></td>
              </tr>
              <tr>
                <td><h5>Roof Angle</h5></td>
                <td><h5><%= @roof.roof_angle %></h5></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <input type="submit" class="button round button_background" value="Save"/>
  </form>
</summary>

<!-- <div class="large-12 medium-8 small-6 small-centered medium-centered columns">
    <div id="page-wrap">
      <h1>Summary</h1>
      <form action="/creator" method="post" name="creator">
        <div class="row">
          <div class="large-4 medium-4 small-4 column">
          </div>
          <div class="large-4 medium-6 small-12 column">
            <input type="text" value="Title" name="title">
            <input type="text" value="Disc_by" name="disc_by">
          </div>
        </div>
        <div class="row">
          <div class="large-12 large-centered">
            <ul>
              <li>Material: <%= @roof.material %></li>
              <li>Shade %: <%= @roof.shade_value %></li>
              <li>Roof Angle: <%= @roof.roof_angle %></li>
              <li><img class="summary_img" src="<%= @roof.photo_url %>" class="material_img"></li>
            </ul>
          </div>
          <input type="submit" class="button round button_background" value="Save"/>
        </div>
      </form>
    </div>
  </div> -->

<!--   <div class="info_icon">
    <a href="#" data-reveal-id="summary_info" id="shade_button"><img class="info-icon" src="images/info_sign.png"></a>
  </div>

  <div id="summary_info" class="reveal-modal info-popup" data-reveal>
    <p>Well done for getting so far, we're nearly there now. Please just enter your details and press save. We have provided you with a summary of all the information you have captured. If you feel these are not right, you can always press destroy and start again.</p>
    <a class="close-reveal-modal">&#215;</a>
  </div> -->